<form action="/posts/update/<%= post._id %>" method="POST">
    <input type="text" id="title" name="title" value="<%= post.title %>">
    <input type="text" id="content" name="content" value="<%= post.content %>">
    <button type="submit">изменить</button>
</form>